@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
	
}

	
.text{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	margin-top: 20px;
    font-family: 'Girassol', cursive;
}
#btn1{
		margin: 0px 60%;
	    margin-top: 29px;
}
#input1{
	
	margin:0px 350px ;
	padding-left: 10px;
	font-weight: 600;
	font-size: 1.2rem;
	text-align: center;
	font-family:'Lobster', cursive;
}




#para1, #card1{
	font-weight: bold;


}
ul{
	list-style-type: decimal;
}
body{
	background-image: linear-gradient(90deg,#ffb3b3, #b3ffff,#ffff80,#c2c2d6);
	
}