
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
.text{
	font-family: 'Girassol', cursive;

}
#input3{
	font-weight: 600;
	font-size: 1.2rem;
	text-align: center;
}

#btn3{
	margin-left: 40%;
	font-weight: 600;
	font-size: 1.1rem;
}